.navigation {
  margin-bottom: 10px;
  &__link {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  &__link:not(:last-child) {
    margin-right: 10px;
  }

  &__active-link {
    color: rgb(190, 19, 19);
  }
}
